<nav class="navbar navbar-light bg-dark sticky-top">
    <a class="navbar-brand text-warning">Foursquare</a>
    <form class="form-inline">
      <input class="form-control " 
             type="search" placeholder="Enter items" 
             aria-label="Search"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="enteredItem">
      <input class="form-control " 
             type="search" placeholder="Enter place" 
             aria-label="Search"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="place">
      <button class="btn btn-outline-success my-2 my-sm-0" 
              type="submit"
              (click) = "onClick()">Search</button>
    </form>  
</nav>

<div class="container">
    <div *ngFor="let venue of venues">
    <ul class="list-group ">
        <li class="list-group-item ">
             
            <div class="row">
            <div class="col-md-1  col-sm first">
              <img src= {{venue.photo}} height="70px" width="80px"> 
            </div>
            <div  class ="col-md-4  col-sm second">
                <strong>{{venue.name}}</strong>
                <br>
                
                <p class ="address"><small>
                {{venue.location.formattedAddress}} </small>   
            </p>  
            </div>
          </div>
              
        </li>
    </ul>
  </div>
  
</div>

<div class="container">
    <h3>{{errorMessage}}</h3>
</div>


